$font-main: 'Montserrat',
sans-serif;
// $shadow:  0px 4px 4px #F1EDED;
$color-grey: #E6E6E6;
$color-red: #CC1C1C;


$transition: all 2s cubic-bezier(0.15, 0.64, 0.64, 0.93);
$transition-speed: all 0.5s ease-in-out;

